---
title: Fonts
stylesheet: font_sizes
---

<div class="font tiny">
  <h2>Tiny font size - 8px</h2>
</div>
<div class="font small">
  <h2>Small font size - 11px</h2>
</div>
<div class="font control">
  <h2>Control font size - 13px</h2>
</div>
<div class="font header">
  <h2>Header font size - 13px</h2>
</div>
<div class="font base">
  <h2>Base font size - 14px</h2>
</div>
<div class="font form">
  <h2>Form font size - 16px</h2>
</div>
<div class="font medium">
  <h2>Medium font size - 18px</h2>
</div>
<div class="font large">
  <h2>Large font size - 24px</h2>
</div>
<div class="font rebrand-large">
  <h2>Rebrand font size - 30px</h2>
</div>
<div class="font marketing">
  <h2>Marketing font size - 36px</h2>
</div>
<div class="font large-price">
  <h2>Large Price font size - 42px</h2>
</div>
